.header {
    font-family: "Shne Breit", Arial, sans-serif;
    padding: 20px 0;
    width: 100%;
    padding-top: 42px;
    z-index: 1;
    
}

.header__container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    height: 30px;
}

.header__nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.header__nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.header__pagination{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap:35px;
    list-style: none;
    
}

.header__pagination-item {
    display: inline-block;
    font-size: 10px;
  }

.header__pagination-item__link{
    text-decoration: none;
    color: black;
}

.header__buttons {
    font-family: "Shne Breit", Arial, sans-serif;
    display: flex;
    gap: 15px;
    z-index: 3  ;
}

.btn-login {
    
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-signup {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background: #FFFFFF42;
    color: white;
    cursor: pointer;
}