.header{
    font-size: 10px;
}

.header__logo{
    position: relative;
    margin-left: 100px;
    width: 113px;
    height: 34px;
    top: 42px;
    left: 81px;
    gap: 0px;
    opacity: 0px;
}

.header__pagination{
    position: relative;

    width: 1088px;
    height: 32px;
    top: 42px;
    left: 273px;
    gap: 0px;
    border-radius: 105px 0px 0px 0px;
    opacity: 0px;

}