.header{
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-left: 81px;
    font-size: 10px;
    column-gap: 79px;
    position: relative;
    z-index: 1;
}

.header__logo{
    position: relative; 
}

.header__pagination{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap:35px;
    list-style: none;
    
}

.header__pagination-item {
    display: inline-block;
    font-size: 10px;
  }

.header__pagination-item__link{
    text-decoration: none;
    color: black;
}

.header__buttons{
    display: flex;
    
    margin-left: auto;
    margin-right: 80px;
    gap: 28px;
}

.header__button-log{
    font-family: "Shne Breit", Arial, sans-serif;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    
}

.header__button-sign{
    font-family: "Shne Breit", Arial, sans-serif;
    color: white;
    background-color: #FFFFFF42;
    border-width: 0px;
    border-radius: 105px;
    padding-left: 100px;
    cursor: pointer;
    font-size: 10px;
    
}