.plugins__title{
    font-size: 16px;
    color: #60606080;
}

.plugins__subtitle{
    font-size: 48px;
    font-weight: bold;
}

.plugins__button{
    font-family: "Shne Breit", Arial, sans-serif;
    color: white;
    background-color: #0033FF;
    border-width: 0px;
    border-radius: 105px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 14px;
    padding-bottom: 11px;
    cursor: pointer;
    font-size: 12px;   
}

.plugins__button-link{
    text-decoration: none;
    color: white;
}